.but1 {
    height: 100px;
    width: 400px;
    background-color: blueviolet;
    padding:5px 7px;
    color: aliceblue;
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
    transition:background 2s cubic-bezier(.07,1.83,1,-1.77) 1s, color 2s cubic-bezier(.07,1.83,1,-1.77) 1s, height 2s cubic-bezier(.07,1.83,1,-1.77) 1s;
}
.but1:hover {
    height: 150px;
    background-color: turquoise;
    border: 2px dotted white;  
    color: coral
}
@keyframes but-a1 {
    0% {background-color: brown}
    50% {background-color: pink}
    100% {background-color:crimson}
}
@keyframes but-a2 {
    0% {width: 400px}
    50% {width: 300px}
    100% {width: 500px}
}
.but2 {
    height: 100px;
    width: 400px;
    color: aliceblue;
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
    animation: but-a1 3s, but-a2 3s;
    animation-iteration-count: infinite;
    animation-play-state: paused
}
.but2:hover {
    animation-play-state: running
}
@keyframes div1 {
    0% {left:0px}
    25% {left:50px}
    50% {left:100px}
    75% {left:50px}
    100% {left:0px}
}
.div1 {
    height: 100px;
    position: relative;
    width: 500px; 
    border: 2px solid black;
    margin-top: 20px;
    animation: div1 5s 1s;
    animation-iteration-count: 5
}
@keyframes pic1 {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(90deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}
.pic1 img{
    animation: pic1 5s 1s;
    animation-play-state: paused
}
.pic1 img:hover {
    animation-play-state: running
}
@keyframes pic2 {
    0% {transform: scaleY(1.2)}
    25% {transform: scaleY(1.3)}
    50% {transform: scaleY(1.4)}
    75% {transform: scaleY(1.3)}
    100% {transform: scaleY(1.2)}
}
.pic2 img{
    animation: pic2 5s 1s;
    animation-play-state: paused
}
.pic2 img:hover {
    animation-play-state: running
}
